        
        <link rel="stylesheet" href="/css/admindsh.css">
    


        
        <div id="Maincontent">
            <div id="rowww">
                <div id="column" style="background-color:#aaa;">
                <h2>Row 1, Column 1</h2>
            </div>
            <div id="column" style="background-color:#bbb;">
                <h2>Row 1, Column 2</h2>
            </div>
            <div id="rowww">
                <div id="column" style="background-color:#aaa;">
                <h2>Row 2, Column 1</h2>
            </div>
            <div id="column" style="background-color:#bbb;">
                <h2>Row 2, Column 2</h2>
            </div>
        </div>