<div class="live-chat-forward-selection-list">
  {{#each result}}
  <div class="customer-box">
    <div class="current-date">{{createdAt}}</div>
    <div class="top-box">
      <div class="customer-image">
        <i class='bx bxs-user' ></i>
      </div>
      <div class="box-showed-data">
        <p class="box-text">{{'user.name'}}</p>
        <p class="box-text">Pass From: {{'employee.name'}}</p>
        <p class="box-text box-text-cat">Category: {{complaintCategory}}</p>
      </div>

      {{#ifEquals complaintStatus 'open'}}
      <div class="indcator-color indicator-open"></div>
      {{/ifEquals}}
      {{#ifEquals complaintStatus 'on Progress'}}
      <div class="indcator-color indicator-progress"></div>
      {{/ifEquals}}
      {{#ifEquals complaintStatus 'on Hold'}}
      <div class="indcator-color indicator-hold"></div>
      {{/ifEquals}}

    </div>
    <div class="bottom-box">
      <button class="customer-accept">
        Accept
      </button>
    </div>
  </div>
  {{/each}}
</div>