<div class="live-chat-forward-selection-list">
  <div class="customer-box">
    <div class="current-date">Senin, 27/09/2021</div>
    <div class="top-box">
      <div class="customer-image">
        <i class='bx bxs-user' ></i>
      </div>
      <div class="box-showed-data">
        <p class="box-text">Mas, mas</p>
        <p class="box-text">Pass From: Agent 2</p>
        <p class="box-text box-text-cat">Category: Complaint</p>
      </div>
      <div class="indcator-color indicator-open">
      </div>
    </div>
    <div class="bottom-box">
      <button class="customer-accept">
        Accept
      </button>
    </div>
  </div>

  <div class="customer-box">
    <div class="current-date">Senin, 27/09/2021</div>
    <div class="top-box">
      <div class="customer-image">
        <i class='bx bxs-user' ></i>
      </div>
      <div class="box-showed-data">
        <p class="box-text">Mas, mas</p>
        <p class="box-text">Pass From: Agent 2</p>
        <p class="box-text box-text-cat">Category: Complaint</p>
      </div>
      <div class="indcator-color indicator-hold">
      </div>
    </div>
    <div class="bottom-box">
      <button class="customer-accept">
        Accept
      </button>
    </div>
  </div>

  <div class="customer-box">
    <div class="current-date">Senin, 27/09/2021</div>
    <div class="top-box">
      <div class="customer-image">
        <i class='bx bxs-user' ></i>
      </div>
      <div class="box-showed-data">
        <p class="box-text">Mas, mas</p>
        <p class="box-text">Pass From: Agent 2</p>
        <p class="box-text box-text-cat">Category: Complaint</p>
      </div>
      <div class="indcator-color indicator-closed">
      </div>
    </div>
    <div class="bottom-box">
      <button class="customer-accept">
        Accept
      </button>
    </div>
  </div>
</div>