<div class="live-chat-section-a">
  <div class="chat-monitor">
    <div class="customer-name">
      Mas. User
    </div>
    <div class="chat-section">
      <div class="chat">
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </div>
      <div class="chat chat-b">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus, esse.
      </div>
      <div class="chat">
        Lorem ipsum dolor sit amet.
      </div>
      <div class="chat">
        Lorem ipsum dolor sit amet.
      </div>
      <div class="chat">
        Lorem ipsum dolor sit amet.
      </div>
      <div class="chat chat-b">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta!
      </div>
    </div>
  </div>
  <div class="live-chat-input">
    <input type="text" placeholder="Write here ...">
    <button class="send-button">
      <i class='bx bx-send'></i>
    </button>
  </div>
</div>

<div class="live-chat-section-b">
  <div class="customer-desc-box1">
    <a href="#" class="customer-image">
      <i class='bx bxs-user' ></i>
    </a>
    <div class="forward-section">
      <a href="/agent-dashboard/forward-selector" class="forward-button">
        Pass From <i class="forward-from">0</i>
      </a>
      <a href="/agent-dashboard/forward-sender" class="forward-button">
        Pass To <i class='bx bx-right-arrow-alt' ></i>
      </a>
    </div>
  </div>
  <div class="customer-desc-box2">
    <h2 class="desc-title">User Info</h2>
    <div class="info-box">
      <table>
        <tr>
          <td><p class="info">ID</p></td>
          <td><p class="info">:</p></td>
          <td><p class="info">1</p></td>
        </tr>
        <tr>
          <td><p class="info">Nama</p></td>
          <td><p class="info">:</p></td>
          <td><p class="info">Mas. User</p></td>
        </tr>
        <tr>
          <td><p class="info">Address</p></td>
          <td><p class="info">:</p></td>
          <td><p class="info">Jl. Indonesia 22 no.192921</p></td>
        </tr>
        <tr>
          <td><p class="info">Email</p></td>
          <td><p class="info">:</p></td>
          <td><p class="info">MasUser123@gmail.com</p></td>
        </tr>
        <tr>
          <td><p class="info">Phone</p></td>
          <td><p class="info">:</p></td>
          <td><p class="info">081213080138</p></td>
        </tr>
        <tr>
          <td><p class="info complaint-category">Category</p></td>
          <td><p class="info complaint-category">:</p></td>
          <td><p class="info complaint-category">Komplen</p></td>
        </tr>
      </table>
    </div>
    <div class="status-button-section">
      <button class="status status-done">Done</button>
      <button class="status status-hold">Hold</button>
    </div>
  </div>
</div>