
<div class="live-chat-forward-sender">
  <div class="customer-box-fs">
    <div class="top-box">
      <div class="customer-image">
        <i class='bx bxs-user' ></i>
      </div>
      <div class="box-showed-data-fs">
        <p class="box-text-cs">Mas, mas</p>
        <p class="box-text-cs box-text-cat-cs">Category: Complaint</p>
      </div>
      <div class="agent-dropdown-box">
        <select name="agent-dropdown" id="agent-dropdown" class="agent-dropdown">
          <option value="Agent_11" class="dropdown-option"><i class='bx bx-user'></i> Agent 11</option>
          <option value="Agent_5" class="dropdown-option"><i class='bx bx-user'></i> Agent 5</option>
          <option value="Agent_7" class="dropdown-option"><i class='bx bx-user'></i> Agent 7</option>
        </select>
      </div>
    </div>
    <div class="bottom-box-fs">
      <a href="#" class="forward-button bottom-fs">
        Pass To <i class='bx bx-right-arrow-alt' ></i>
      </a>
    </div>
  </div>
</div>