<div class="top-first">
    <div class="kategory">
        Create New Question
    </div>
    <div class="status">
        Status: Un-Solved
    </div>
</div>

<div class="last-second">
    <label style="font-size: 40px;">Pertanyaan</label>
    <form method="post">
        <textarea class="jawaban" name="question" rows="4" cols="50"></textarea>
        <div class="create-btn">
            <input type="submit" value="send" style="margin-bottom: 20px;" />
            <select class="optionCat" name="probCategory">
                <option value="question">Question</option>
                <option value="complain">Complain</option>
                <option value="other">Other</option>
            </select>
        </div>

    </form>
</div>
<div class="add-btn">
    <a href="/faq-list-page">Exit</a>
</div>