{{#each errorT}}

<div class='done-txt' style="background-color: rgb(255, 139, 139);">
    {{text}}
</div>
{{/each}}
<div class="top-place">
    <div id="upperLinkNav2"><a href="/admin-dashboard/agent-manager">Agent manager</a> > employee1</div>
    <div class="name-pls">
        <div class="agent-name" name="agentName">
            Name
        </div>
        <div class="agent-id" name="id">
        </div>
        <div class="bank-name">
            BANK NAME
        </div>
    </div>
    <div class="form-header">
        <div class="borrder-info">
            User Information
        </div>
    </div>
</div>
<!--<div id="upperLinkNav2"><a href="/admin-dashboard/agent-manager">Agent manager</a> > employee1</div>-->

<form class="data-agent" method="post">
    <div class="info-side">
        <div class='field input'>
            <label>name</label>
            <input type='text' name="name" placeholder="Name" required></input>
        </div>
        <div class='field input'>
            <label>email</label>
            <input type="email" name="email" placeholder="Email" required></input>
        </div>
        <div class='field input'>
            <label>password</label>
            <input type='password' id="password" name="password" placeholder="password" required></input>
            <div class="show" id="show" onclick="show()">hide</div>
        </div>
    </div>

    <div class="info-side">
        <div class='field input'>
            <label>phone</label>
            <input type='text' name="phone" placeholder="phone" required></input>
        </div>
        <div class='field input'>
            <label>address</label>
            <input type='text' name="address" placeholder="address" required></input>
        </div>
    </div>

    <div class="btn-pls">
        <button type="submit"> Create </button>

        <a class="exit" href="/user-list-page"> exit </a>
    </div>
</form>

<div class="footer">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vestibulum orci a sapien imperdiet
    maximus.
</div>