<!-- Live chat button -->
<a class="live-chat bg-primary border border-2 border-info">
	<i class='bx bxs-chat'></i>
</a>

<!-- Random Web Content -->
<div class="web-content">
	<div class="content">
		<h1>Content 1</h1>
		<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga sed, tempora maiores vitae tempore deserunt nam quasi reprehenderit itaque animi, dicta? Eos velit quod perferendis modi magni, minima recusandae pariatur ipsam cupiditate voluptas nostrum eaque, consequuntur consequatur, quis repudiandae explicabo assumenda deserunt neque unde aspernatur, et exercitationem. Voluptates, dolore quae! Tempora voluptate voluptatem adipisci laboriosam nobis porro. Eaque, expedita consequatur.</p>
	</div>
	<div class="content">
		<h1>Content 2</h1>
		<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga sed, tempora maiores vitae tempore deserunt nam quasi reprehenderit itaque animi, dicta? Eos velit quod perferendis modi magni, minima recusandae pariatur ipsam cupiditate voluptas nostrum eaque, consequuntur consequatur, quis repudiandae explicabo assumenda deserunt neque unde aspernatur, et exercitationem. Voluptates, dolore quae! Tempora voluptate voluptatem adipisci laboriosam nobis porro. Eaque, expedita consequatur.</p>
	</div>
	<div class="content">
		<h1>Content 3</h1>
		<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga sed, tempora maiores vitae tempore deserunt nam quasi reprehenderit itaque animi, dicta? Eos velit quod perferendis modi magni, minima recusandae pariatur ipsam cupiditate voluptas nostrum eaque, consequuntur consequatur, quis repudiandae explicabo assumenda deserunt neque unde aspernatur, et exercitationem. Voluptates, dolore quae! Tempora voluptate voluptatem adipisci laboriosam nobis porro. Eaque, expedita consequatur.</p>
	</div>
</div>

<!--Website Form-->
<section class="web-content">
	<div class="content">
		<h1>Form</h1>
		<p>Name:</p>
		<input type="text">
		<p>Email:</p>
		<input type="text"> 
		<p>Message:</p>
		<input type="text">
		
		<label for="category">Category:</label>
		<select name="category" id="category">
			<option value="complain">Complain</option>
			<option value="question">Question</option>
			<option value="other">Other</option>
		</select>
	</div>
</section>