<!-- Live Chat Button -->
<a class="live-chat bg-primary border border-2 border-info rounded-circle" onclick="openChat()" style="cursor: pointer;">
	<i class='bx bxs-chat'></i>
</a>

<!-- Live Chat Section - no login -->
<div id="cust-live-chat-no-log" class="cust-live-chat-no-log position-fixed">
	<div class="cust-live-chat-header position-relative">
		<h3 class="h-tittle-no-log fw-bold fs-1">Hi!</h3>
		<i class="h-text-no-log">Our agents are ready for your queries!</i>
		<a onclick="closeAll()" class="cust-close-button fw-normal" style="cursor: pointer;">x</a>
	</div>
	<div class="log-form-lc">
		<form action="#">
			<input class="log-input" type="email" name="email" placeholder="Email" required>
			<input class="log-input" type="password" name="password" placeholder="Password" pattern="(?=.*\d)(?=.*[a-z]).{6,}" title="Must contain at least one number and lowercase letter, and at least 6 or more characters" required>
			<input class="log-input log-input-button bg-primary text-light" type="submit" value="Chat with us">
		</form>
	</div>
</div>

<!-- Login Section -->
<div id="log-section" class="log-section position-fixed">
	<div class="log-header fw-bold bg-primary text-light">
		Login
		<a onclick="closeAll()" class="close-button fw-normal" style="cursor: pointer;">x</a>
	</div>
	<div class="log-form">
		<form action="#">
			<input class="log-input" type="email" name="email" placeholder="Email" required>
			<input class="log-input" type="password" name="password" placeholder="Password" pattern="(?=.*\d)(?=.*[a-z]).{6,}" title="Must contain at least one number and lowercase letter, and at least 6 or more characters" required>
			<input class="log-input log-input-button bg-primary text-light" type="submit" value="Login">
		</form>
	</div>
	<div class="log-footer">
		<i>Don't have an account?</i> <a href="#log-section-r" class="log-link">Register</a>
	</div>
</div>

<!-- Register Section -->
<div id="log-section-r" class="log-section-r position-fixed">
	<div class="log-header fw-bold bg-primary text-light">
		Register
		<a onclick="closeAll()" class="close-button fw-normal" style="cursor: pointer;">x</a>
	</div>
	<div class="log-form-r">
		<form action="#">
			<input class="log-input" type="text" name="username" placeholder="Username" required>
			<input class="log-input" type="email" name="email" placeholder="Email" required>
			<input class="log-input" type="password" name="password" placeholder="Password" pattern="(?=.*\d)(?=.*[a-z]).{6,}" title="Must contain at least one number and lowercase letter, and at least 6 or more characters" required>
			<input class="log-input" type="password" name="password2" placeholder="Re-enter Password" pattern="(?=.*\d)(?=.*[a-z]).{6,}" title="Must contain at least one number and lowercase letter, and at least 6 or more characters" required>
			<input class="log-input log-input-button bg-primary text-light" type="submit" value="REGISTER">
		</form>
	</div>
	<div class="log-footer-r">
		<i>Already have an account?</i> <a href="#log-section" class="log-link">Login</a>
	</div>
</div>

<!-- Random Web Content -->
<div class="web-content">
	<div class="content">
		<h1>Content 1</h1>
		<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga sed, tempora maiores vitae tempore deserunt nam quasi reprehenderit itaque animi, dicta? Eos velit quod perferendis modi magni, minima recusandae pariatur ipsam cupiditate voluptas nostrum eaque, consequuntur consequatur, quis repudiandae explicabo assumenda deserunt neque unde aspernatur, et exercitationem. Voluptates, dolore quae! Tempora voluptate voluptatem adipisci laboriosam nobis porro. Eaque, expedita consequatur.</p>
	</div>
	<div class="content">
		<h1>Content 2</h1>
		<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga sed, tempora maiores vitae tempore deserunt nam quasi reprehenderit itaque animi, dicta? Eos velit quod perferendis modi magni, minima recusandae pariatur ipsam cupiditate voluptas nostrum eaque, consequuntur consequatur, quis repudiandae explicabo assumenda deserunt neque unde aspernatur, et exercitationem. Voluptates, dolore quae! Tempora voluptate voluptatem adipisci laboriosam nobis porro. Eaque, expedita consequatur.</p>
	</div>
	<div class="content">
		<h1>Content 3</h1>
		<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga sed, tempora maiores vitae tempore deserunt nam quasi reprehenderit itaque animi, dicta? Eos velit quod perferendis modi magni, minima recusandae pariatur ipsam cupiditate voluptas nostrum eaque, consequuntur consequatur, quis repudiandae explicabo assumenda deserunt neque unde aspernatur, et exercitationem. Voluptates, dolore quae! Tempora voluptate voluptatem adipisci laboriosam nobis porro. Eaque, expedita consequatur.</p>
	</div>
</div>

<!--Website Form-->
<section class="form-content">
	<div>
		<form action="/customer-website/formsent" method="post">
			<label for="name">Name:</label>
			<input type="text" name="name" required>
			<label for="name">E-Mail:</label>
			<input type="email" name="email" required>
			<br><br>
			<label for="message">Message:</label>
			<textarea type="text" name="message"></textarea>
			<br><br>
			<label for="category">Category:</label>
			<select name="complaintCategory" id="category">
				<option value="complain">Complain</option>
				<option value="question">Question</option>
				<option value="other">Other</option>
			</select>
			<br><br>
			<button onclick= "window.location.href ='/customer-website';" type="submit">Submit</button>
		</form>
	</div>
	<div>
		<h1>Form</h1>
		<p>We'll reply back to you ASAP!</p>
	</div>
</section>
<script src="/js/cw.js"></script>