<!-- Live Chat Button -->
<a class="live-chat position-fixed bg-primary border border-2 border-info rounded-circle" onclick="openCategory()" style="cursor: pointer;">
	<i class='bx bxs-chat'></i>
</a>

<!-- Live Chat Section - category section -->
<div id="cust-live-chat-category-section" class="cust-live-chat-category-section position-fixed">
	<div class="cust-live-chat-header position-relative">
		<h3 class="h-tittle-no-log fw-bold fs-1">Hold On!</h3>
		<i class="h-text-no-log">Please select your chat category first.</i>
		<a onclick="closeSection()" class="cust-close-button fw-normal" style="cursor: pointer;">x</a>
	</div>
	<div class="log-form-lc">
		<form>
			<select name="category" id="category" class="log-input" required>
				<option value="-">---</option>
				<option value="complaint">complaint</option>
				<option value="question">question</option>
			</select>
			<input class="log-input log-input-button bg-primary text-light" type="submit" value="Chat with us">
		</form>
	</div>
</div>

<!-- Live Chat Section - logged in -->
<div id="cust-live-chat-log" class="cust-live-chat-log position-fixed">
	<div class="cust-live-chat-title">
		Live Chat
		<a onclick="closeSection()" class="cust-close-button-lc fw-normal" style="cursor: pointer;">x</a>
	</div>
	<div class="cust-live-chat-header-log">
		<i class='agent-photo bx bx-user-circle'></i>
		<div class="cust-live-chat-header-log-text-section px-2">
			<p class="cust-live-chat-header-log-text m-0 fw-bold">Agent-X</p>
			<p class="cust-live-chat-header-log-text m-0">agent</p>
		</div>
	</div>
	<div class="cust-live-chat-chat-section">
		{{#each chats}}
			{{#ifEquals sender 'user'}}
				<div class="cust-live-chat-chat">{{message}}</div>
			{{/ifEquals}}
			{{#ifEquals sender 'agent'}}
				<div class="cust-live-chat-chat agent-chat">{{message}}</div>
			{{/ifEquals}}
		{{/each}}
	</div>
	<form action="" class="cust-live-chat-input-section">
		<input id="msg" class="cust-live-chat-input" type="text" name="chat" placeholder="Your Message" required>
		<a class="cust-live-chat-send-button bg-primary text-light fs-2" onclick="sendMessage()">
			<i class='bx bx-send'></i>
		</a>
	</form>
</div>

<!-- Live Chat Rating -->
<div id="live-chat-rating" class="live-chat-rating position-fixed">
	<div class="live-chat-rating-title">
		<a onclick="closeSection()" class="cust-close-button-lc fw-normal" style="cursor: pointer;">x</a>
	</div>
	<div class="live-chat-rating-content">
		<h3 class="cust-rating-title">Rate Our Service</h3>
		<form class="rating-form" action="">
			<div class="rate">
			<input type="radio" id="star5" name="rate" value="5" />
			<label for="star5" title="text">5 stars</label>
			<input type="radio" id="star4" name="rate" value="4" />
			<label for="star4" title="text">4 stars</label>
			<input type="radio" id="star3" name="rate" value="3" />
			<label for="star3" title="text">3 stars</label>
			<input type="radio" id="star2" name="rate" value="2" />
			<label for="star2" title="text">2 stars</label>
			<input type="radio" id="star1" name="rate" value="1" />
			<label for="star1" title="text">1 star</label>
			</div>
			<label for="comment" class="comment-label">Comment :</label>
			<textarea id="comment" class="comment-section" name="comment" placeholder="Your comment here ..."></textarea>
			<input class="rating-submit" type="submit" value="Submit">
		</form>
	</div>
</div>

<!-- Random Web Content -->
<div class="web-content">
	<div class="content">
		<h1>Content 1</h1>
		<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga sed, tempora maiores vitae tempore deserunt nam quasi reprehenderit itaque animi, dicta? Eos velit quod perferendis modi magni, minima recusandae pariatur ipsam cupiditate voluptas nostrum eaque, consequuntur consequatur, quis repudiandae explicabo assumenda deserunt neque unde aspernatur, et exercitationem. Voluptates, dolore quae! Tempora voluptate voluptatem adipisci laboriosam nobis porro. Eaque, expedita consequatur.</p>
	</div>
	<div class="content">
		<h1>Content 2</h1>
		<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga sed, tempora maiores vitae tempore deserunt nam quasi reprehenderit itaque animi, dicta? Eos velit quod perferendis modi magni, minima recusandae pariatur ipsam cupiditate voluptas nostrum eaque, consequuntur consequatur, quis repudiandae explicabo assumenda deserunt neque unde aspernatur, et exercitationem. Voluptates, dolore quae! Tempora voluptate voluptatem adipisci laboriosam nobis porro. Eaque, expedita consequatur.</p>
	</div>
	<div class="content">
		<h1>Content 3</h1>
		<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga sed, tempora maiores vitae tempore deserunt nam quasi reprehenderit itaque animi, dicta? Eos velit quod perferendis modi magni, minima recusandae pariatur ipsam cupiditate voluptas nostrum eaque, consequuntur consequatur, quis repudiandae explicabo assumenda deserunt neque unde aspernatur, et exercitationem. Voluptates, dolore quae! Tempora voluptate voluptatem adipisci laboriosam nobis porro. Eaque, expedita consequatur.</p>
	</div>
</div>

<!--Website Form-->
<section class="form-content">
	<div>
		<form action="/customer-website/formsent" method="post">
			<label for="name">Name:</label>
			<input type="text" name="name" required>
			<label for="name">E-Mail:</label>
			<input type="email" name="email" required>
			<br><br>
			<label for="message">Message:</label>
			<textarea type="text" name="message"></textarea>
			<br><br>
			<label for="category">Category:</label>
			<select name="complaintCategory" id="category">
				<option value="complain">Complain</option>
				<option value="question">Question</option>
				<option value="other">Other</option>
			</select>
			<br><br>
			<button onclick= "window.location.href ='/customer-website';" type="submit">Submit</button>
		</form>
	</div>
	<div>
		<h1>Form</h1>
		<p>We'll reply back to you ASAP!</p>
	</div>
</section>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/cwl.js"></script>