<header>BANK NAME</header>
<div class='warper'>
	<section class='form signup'>
		<form method="post">
			<div class='error-txt'>Agent not found!</div>
			<div class='field input'>
				<label>Email</label>
				<input type='text' name="email"></input>
			</div>
			<div class='field input'>
				<label>Password</label>
				<input type='password' name="password"></input>
			</div>
			<div class='field tag'>
				<label>Role</label>
				<select class="Role" id="Role" name="role">
					<option value="admin">Admin</option>
					<option value="agent">Agent</option>
				</select>
			</div>
			<div class='field button'>
				<input type='submit' value='Login'></input>
			</div>
		</form>
	</section>
</div>
<footer> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vestibulum orci a sapien imperdiet
	maximus.</footer>