<div class="top-first">
    <div class="kategory">
        Category: Question
    </div>
    <div class="status">
        Status: Un-Solved
    </div>
</div>

<div class="last-second">
    <label style="font-size: 40px;">Pertanyaan</label>
    <div class="question">
        <textarea class="pertanyaan" name="question" rows="4" cols="50"
            readonly>Bagaimana cara membuat website tidak terreload saat mempost Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nisl lectus, suscipit pellentesque metus non, egestas suscipit tellus. In hac habitasse platea dictumst. Quisque ac mi nibh. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis porttitor velit in lorem eleifend condimentum. Donec elit orci, tempor nec accumsan eget, consequat eu risus. Morbi hendrerit metus quis orci luctus, eget facilisis risu</textarea>
    </div>
    <label>Jawab</label>
    <form>
        <label>Agent Name</label>
        <textarea class="jawaban" name="solution" rows="3" cols="50" readonly> jawaban 1</textarea>
        <div class="btn-pls">
            <input type="submit" value="accapet" />
            <a class="decline">decline</a>
        </div>
    </form>
    <form>
        <label>Agent Name</label>
        <textarea class="jawaban" name="solution" rows="3" cols="50" readonly> jawaban 2</textarea>
        <div class="btn-pls">
            <input type="submit" value="accapet" />
            <a class="decline">decline</a>
        </div>
    </form><form>
        <label>Agent Name</label>
        <textarea class="jawaban" name="solution" rows="3" cols="50" readonly> jawaban 3</textarea>
        <div class="btn-pls">
            <input type="submit" value="accapet" />
            <a class="decline">decline</a>
        </div>
    </form>
    <form>
        <label>Agent Name</label>
        <textarea class="jawaban" name="solution" rows="3" cols="50" readonly> jawaban 4</textarea>
        <div class="btn-pls">
            <input type="submit" value="accapet" />
            <a class="decline">decline</a>
        </div>
    </form>
    <form>
        <label>Agent Name</label>
        <textarea class="jawaban" name="solution" rows="3" cols="50" readonly> jawaban 5</textarea>
        <div class="btn-pls">
            <input type="submit" value="accapet" />
            <a class="decline">decline</a>
        </div>
    </form>
</div>