<div class="first-top">
    <form action="/agent-list-page/search">
        <div class="search-bar">
            <input class="input-sear" name="term" type="search" placeholder="Search FAQ">
        </div>
        <div class="kategory-pls">
            <select class="kategory" id="kategory" name="probCategory">
                <option value="">All</option>
                <option value="question">Question</option>
                <option value="complain">Complain</option>
                <option value="other">Other</option>
            </select>
            <input class="button-sear" type="submit" value="Search">
        </div>
    </form>
</div>

<div class="second-end">
    <div class="lable">
        <div class="FAQ">
            FAQ
        </div>
        <div class="agent-name">
            Agent
        </div>
    </div>
    <div class="question-pls">
        <div class='question'>
            Bagaimana membuat wesite tidak mereload saat megirim request post
        </div>
        <div class='agent'>
            AgentName
        </div>

    </div>
    <div class="question-pls">
        <div class='question'>
            Bagaimana membuat wesite tidak mereload saat megirim request post
        </div>
        <div class='agent'>
            AgentName
        </div>

    </div>
    <div class="question-pls">
        <div class='question'>
            Bagaimana membuat wesite tidak mereload saat megirim request post
        </div>
        <div class='agent'>
            AgentName
        </div>

    </div>
    <div class="question-pls">
        <div class='question'>
            Bagaimana membuat wesite tidak mereload saat megirim request post
        </div>
        <div class='agent'>
            AgentName
        </div>

    </div>
</div>